body{
    background-color: #fafafa;
}
.not-completed{
    background-color: white;
}
.completed{
    background-color: #eeeeee;
}
#deleting-task-name{
  color: #fe6993;
  background-color: rgba(254,105,147, 0.1);
  border-radius: 3px;
  padding: 0.2em;
  line-height: rem;
}
.task{
  border: 1px solid silver;
  border-radius: 0.25rem;
  margin: 10px;
  padding: 10px;
}