{% extends 'todo/base.html' %}

{% block content %}

{% if messages %}
{% for message in messages %}
<h3 class="text-success">{{ message }}</h3>
{% endfor %}
{% endif %}

<form class="input-group mb-3" method="POST" action="/add">
    {{ form.task_name }}
    {% csrf_token %}
    <button class="btn btn-primary" type="submit">ADD</button>
</form>

{% for tasks in tasks %}
    {% if tasks.completed == True %}
    <div class="task completed">
    {% else %}
    <div class="task not-completed">
    {% endif %}
        <div class="row">
            {% if tasks.completed == True %}
            <div class="col-md-6 text-decoration-line-through">
            {% else %}
            <div class="col-md-6">
            {% endif %}
                <h5><strong>{{ tasks.task_name }}</strong></h5>
                <p class="text-secondary">Created at: {{ tasks.created_at }}</p>
                {% if todo.created_at < todo.updated_at %}
                <p class="text-secondary">Edited at: {{ tasks.updated_at }}</p>
                {% endif %}
            </div>
            <div class="col-md-6 text-md-end">
                {% if tasks.completed != True %}
                <a href="{% url 'complete_task' tasks.id %}" class="btn btn-success btn-sm">Completed</a>
                {% endif %}
                <a href="{% url 'update' tasks.id %}" class="btn btn-primary btn-sm">Update</a>
                <a href="{% url 'delete' tasks.id %}" class="btn btn-danger btn-sm">Delete</a>
            </div>
        </div>
    </div>
{% endfor %}

{% endblock %}